@import url("https://fonts.ggogle.com");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  font-family: "google-font-name", sans-serif;
  font-family: 'Poppins';
  font-style: normal;
}
.hero, .about, .testimonial{
        min-height: 800px;
}
@media screen and (max-width:1000px){
    .hero, .about, .testimonial{
        max-height: 800px;
    }
}
