.header{
    /* background-color: green; */
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    align-items: center;
    position: fixed;
    /* z-index: 22; */
    /* top: 0;
    left: 0; */
    justify-content: space-between;
}
.header::before{
    content: "";
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}
.logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    height: 100%;
}

.forms{
    width: 200px;
    display: flex;
    justify-content: center;
}
.nav > .icon {
    display: none;
    /* position: absolute;
    right: 30px;
    top: 30px; */
}
.nav > .nav_options{
    min-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}
.nav > .nav_options >a{
    text-decoration: none;
    color: white;
}
.nav > .nav_options  li{
    margin: 0 20px;
    text-align: center;
}

.forms{
    display: flex;
    align-items: center;
}
.forms a {
    display: block;
    width: 90%;
    margin: 0 calc(10%/4);
}
.forms a > button {
    width: 100%;
    padding: 10px;
    height: 40px;
    background-color: transparent;
    outline: 0;
    border: 0;
    color: #fff;
}
.forms a:first-child {
    background-color: #fb03d3;
}

@media screen and (max-width:900px), (max-width:700px) {
    .header{
        justify-content: flex-start;
    }
    .nav{
        width: 60%;
        color: #fb03d3;
        height: fit-content;
        flex-direction: column;
        position: absolute;
        top: 0;
        z-index: 2222;
        right: 0;
        padding: 40px;
    }
    .nav.active{
        background-color: #000;
        /* margin-top: 350px; */
    }
    .logo{
        margin-right: auto;
    }
    .nav > .icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav.active > .icon > .faBar {
        display: none;
        margin-bottom: 100px;
    }
    .nav > .icon > .closeBar {
        display: none;
    }
    .nav.active > .icon > .closeBar {
        display: block;
    }
    .nav > .nav_options {
        width: 100%;
        height: auto;
        display: none;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
    }
    .nav.active > .nav_options{
        display: flex;
    }
    .nav > .nav_options >a{
        display: block;
        width: 100%;
        padding: 20px 0;
        
    }
    .nav > .nav_options  li{
        margin: 0 20px;
        text-align: left;
    }
    .forms{
        display: none;
        flex-direction: column;
    }
    nav.active .forms{
        display: flex;
    }
    .nav > .icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/* @media screen and (max-width:900px), (max-width:700px){
    
} */

@media screen and (max-width:600px) {
    
}

@media screen and (max-width:400px) {
    
}